.left {
    float: left;
}

.right {
    float: right;
}

fieldset {
    text-align: center;
}

fieldset label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 4px;
}
#farSpace .ui-dialog, #farSpace .ui-widget-content {
    background-color: #313A5F;
    background-image: none;
}

#farSpace .system-dialog.ui-dialog-content {
    padding: 5px 0 0 0;
}


#farSpace .ui-widget-overlay {
    background: none repeat-x scroll 50% 50% #000000;
    opacity: 0.3;
}

.system-dialog .images {
    background-color: #000000;
    background-repeat: no-repeat;
    display: table-cell;
    height: 200px;
    padding: 0 0 0 100px;
    vertical-align: middle;
    width: 700px;
}

.system-dialog .images.starClass- {
    background-image: url('../img/system/star_-.png');
}

.system-dialog .images.starClassA {
    background-image: url('../img/system/star_A.png');
}

.system-dialog .images.starClassB {
    background-image: url('../img/system/star_B.png');
}

.system-dialog .images.starClassF {
    background-image: url('../img/system/star_F.png');
}

.system-dialog .images.starClassG {
    background-image: url('../img/system/star_G.png');
}

.system-dialog .images.starClassK {
    background-image: url('../img/system/star_K.png');
}

.system-dialog .images.starClassM {
    background-image: url('../img/system/star_M.png');
}

.system-dialog .images.starClassO {
    background-image: url('../img/system/star_O.png');
}

.system-dialog .images.starClassW {
    background-image: url('../img/system/star_W.png');
}

.system-dialog .images .planet {
    margin: 0 15px 0 0;
    vertical-align: middle;
    padding: 10px;
}

.system-dialog .structures {
    height: 101px;
}

.system-dialog .slot,
.system-dialog .task
{
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(15, 15, 20, 0.4);
    box-shadow: 0 0 2px rgba(128, 128, 150, 0.2);
    padding: 0;
    margin: 2px 1px;
    display: block;
    float: left;
    width: 37px;
    height: 37px;
}

.system-dialog .slot.active,
.system-dialog .slot:hover,
.system-dialog .task.active,
.system-dialog .task:hover {
    box-shadow: 0 0 4px #4477FF;
}

.system-dialog .images .planet.active, .system-dialog .images .planet:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #0000AA;
    padding: 10px;
}

.system-dialog .dataColumn {
    width: 399px;
    font-size: 14px;
    font-family: helvetica;
}

.system-dialog .dataColumn h3 {
    display: inline-block;
    padding: 2px 0 4px 3px;
    width: 395px;
    background-image: url("../img/bg-lines.png");
    background-repeat: repeat;
    text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.40);
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}

.system-dialog .dataColumn dl {
    color: #DDDDDD;
    text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.40);
    font-size: 13px;
}

.system-dialog .dataColumn dt {
    width: 129px;
    float: left;
    margin: 5px 0;
}

.system-dialog .dataColumn dd {
    width: 66px;
    float: left;
    text-align: right;
    margin: 5px 4px 5px 0;
}

span.ajax-overlay {
    z-index: 999999;
    position: absolute;
    display: block;
    background-color: rgba(255, 112, 147, 0.05);
    border-radius: 5px;
}

span.ajax-overlay span.img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -16px;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}